Source: libfyba
Priority: extra
Maintainer: Anders Einar Hilden <hildenae@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, autoconf, libtool
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/kartverket/fyba
Vcs-Git: https://github.com/kartverket/fyba.git
Vcs-Browser: https://github.com/kartverket/fyba

Package: libfyba-dev
Section: libdevel
Architecture: any
Depends: libfybaBROKEN (= ${binary:Version})
Description: Header files for FYBA library
 This is the development package for developing applications that depends on libfyba

Package: libfybaBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FYBA library to read and write norwegian geodata standard format SOSI
 OpenFYBA is the source code release of the FYBA library, distributed by the 
 National Mapping Authority of Norway (Statens kartverk) to read and write 
 files in the National geodata standard format SOSI.
