Source: libfyba
Priority: extra
Maintainer: Anders Einar Hilden <hildenae@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libfyba.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libfyba.git;a=summary

Package: libfyba-dev
Section: libdevel
Architecture: any
Depends: libfybaBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libfybaBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
